<div class="container">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary col-12" routerLink="splash"> Accueil</button>
      <button class="btn btn-primary col-12" routerLink="lister">Liste des playlists</button>
      <button class="btn btn-primary col-12" routerLink="plCrea">Playslists par créateurs</button>
      <button class="btn btn-primary col-12" routerLink="plStyle">Playlists par style</button>
      <button class="btn btn-primary col-12" routerLink="ajouter">Ajouter une playlist</button>
    </div>
    <div class="col-8 offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
